body {
    background:darkslateblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0
    }
.tema_top 
    {background-color:rgb(234, 238, 236);
    display : inline-block;
    width: 100%;
    height: 50%;
    }
.tema_top p{
    text-align: center;
    font-size: 0.9em;
    }
.tema_top a {
    color: steelblue}
.main,
.section {
    width: 100vw;
    height: 70vh;
    align-content: center;
    }
.left {
    display: inline-block;
    text-align: center;
    float:left; 
    color: aliceblue; 
    width: 40%; 
    vertical-align: top;
    padding-left: 40px;
    }
.right {
    margin-top: 20px;
    display: inline; 
    vertical-align: middle ;
    }
.title{
    font-size: 3em;
   }
#sub_title{
    font-size: 1em;
    color: darkgrey;
}
.button {
    display:block;
    position: relative;
    align-items: center;
    background-color: #477a32;
    width: 250px;
    height: 60px;
    padding-top: 20px;
    margin-left: 30px;
    float: left;}
.button:hover {
    background-color: #74a561;
}
.button:first-child {
    font-weight: 200;
}
.button :last-child {
    font-size: smaller;
    color: darkgray;
}
.button_r {
    display: block;
    position: relative;
    float: left;
    align-items: center;
    background-color: #477a32;
    width: 50px;
    height: 60px;
    padding-top: 20px;
    margin-left: 10px;
    }
    .button_r:hover {
    background-color: #74a561;}
    
    .rectangle{
    align-items: center;
    background-color:midnightblue;
    width: 350px;
    height: 40px;
    padding-top: 5px;
    margin-left: 120px;
    margin-top: 20px;
}
.rectangle p{
    vertical-align: middle ;
    background-color:midnightblue;
    color:darkgrey;
    font-size: smaller;
}
.ssilka {
    color:darkgrey;
}
.rectangle a:hover {
    color:white;
}
#licenz
    {font-size: 0.7em;
    color: darkgrey;}
.navig{
    background-color:rgb(234, 238, 236);
    display : inline-block;
    width: 100vw;
    height: 60px;
}
a{
    text-decoration: none;
    color: white;
    }
a:active{text-decoration: underline;
}
a:hover {text-decoration: underline;
}

ul{
    list-style-type: none;
     margin: 0;
     padding: 0;
    overflow: hidden;}
    li { margin-top: 20px;
        display: inline-block;
        height: 40px;
    float: left;
    padding-left: 10px;
    }

li a {
   
    color: black;
    text-align: center;
    padding: 100px;}

li a:hover {
    background:grey;
    text-decoration: none;
    }
           
#clear 
    {clear: both; 
    background:darkslateblue;}
